body {
    font-family: 'Lora', serif;
  }

canvas {
  display: block;
  margin: 0 auto;
  background: url("../lib/images/grass.png") repeat center center fixed;
  border: 5px solid #45871E;
}

article {
  margin-right: 10px;
}

h1 {
  color: #45871E;
  font-size: 2em;
}

.bar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 15px;
  width: 780px;
  background-color: honeydew;
}

/*Side Panel*/
#slideout {
	position: fixed;
	top: 40px;
	right: 0;
	padding: 10px;
  text-align: center;
  background: black;
  color: white;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

#slideout_inner {
	position: fixed;
	top: 40px;
	right: -250px;
  padding: 25px;
	width: 200px;
  background: black;
  line-height: 2;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	text-align: left;
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}

#slideout_inner textarea {
  height: 100px;
	width: 190px;
	margin-bottom: 6px;
}

#slideout:hover {
	right: 250px;
}

#slideout:hover #slideout_inner {
	right: 0;
}

/*.rotate {
/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}*/
