body {
    background: url("../lib/images/grass.jpg")  no-repeat center center fixed;
    font-family: 'Lora', serif;
  }

canvas {
  border: 1px dashed black;
  margin: 0 auto;
  display: block;
  background-color: honeydew;}

article {
  margin-right: 10px;
}

h1 {
  color: white;
  font-size: 2em;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.bar-item {
}
