body {
  background: url('../lib/images/background.jpg')no-repeat;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}

canvas {
  margin: 0 auto;
  background: url("../lib/images/grass.png") repeat center center fixed;
  border: 5px solid #45871E;
  outline: none;
}

article {
  margin-right: 10px;
}

h1 {
  margin: 15px 0;
  text-align: center;
}

.bar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 15px;
  width: 780px;
  background-color: honeydew;
}

.inner-bar {
  width: 150px;
}

.container {
  padding: 0 90px;
  text-align: center;
}

.instr {
  margin-left: 30px;
  position: absolute;
}

.button {
  width: 75px;
  background-color: green;
  color: white;
  font-size: 14px;
  font-weight: 900;
}

.button:hover {
  border-style: none;
}
